<style>
    .colorRow{
        color:#ffffff;
    }
</style>
<footer class="container-fluid py-3 rodape" style="height:22vh;background-color: #045ed4;color:#ffffff">
        <div class="">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4">
                    <h5>Rotaes Editora Comercial</h5>
                    <ul class="list-unstyled" >
                        <li><a class="link-rodape colorRow" href="{{rodape.urlpgum}}">www.rotaes.com.br</a></li>
                        <li><a class="link-rodape colorRow" href="{{rodape.urlpgdois}}">{{ rodape.titulopgdois }}</a></li>
                        <li><a class="link-rodape colorRow" href="{{rodape.urlpgtres}}">{{ rodape.titulopgtres }}</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <h5>Nossa Localização</h5>
                    <ul class="list-unstyled">
                        <li><a class="link-rodape colorRow" href="tel:{{ rodape.telefone }}">27 3325-3167</a></li>
                        <li><a class="link-rodape colorRow" href="#">{{ rodape.endereco }}</a>Av.Leitão da Silva 905</li>
                        <li class="colorRow">{{ rodape.cnpj }}</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <h5>redes sociais</h5>
                    <ul class="list-unstyled">
                        <li><a class="link-rodape colorRow" href="{{ rodape.urlredsocum }}" target="_blank">Facebook</a></li>
                        <li><a class="link-rodape colorRow" href="{{ rodape.urlredsocdois }}" target="_blank">Instagran</a></li>
                        <li><a class="link-rodape colorRow" href="{{ rodape.urlredsoctres }}" target="_blank">Twiter</a></li>
                        <li><a class="link-rodape colorRow" href="{{ rodape.urlredsocquatro }}" target="_blank">Google</a></li>
                    </ul>
                </div>
            </div>
        </div>
</footer>
