<style>
.corpo{
        width: 100vw;height: 100vh;margin: auto;
        margin-top:0.2rem;
        display: flex;flex-direction: column;justify-content: space-around;
        background-color: #fffcff;
    }

    
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #4c87f5;
}

.titulopage{
    width: 100vw;height: 4vh;margin: auto;background-color:transparent;text-align: center;margin-top: 1vh;
}

.tituloSubpage{
    width: 98vw;height: 3.5vh;margin: auto;background-color:transparent;text-align: center;;margin-top: 1.5vh;
    display: flex;flex-direction: row;justify-content: space-between;
}

.tituloSubpage_ div{
    width: 20vw;
    height: 3.5vh;
    background-color:transparent;
    display: flex;flex-direction: row;justify-items: auto;
}

.tituloSubpage_ label{
   width: 8vw;
   height: 3.4vh;
   background-color:transparent; 
   color: #033e8c;font-size: 1vw;font-weight: 100;
}

.tituloSubpage_ input{
   width: 8vw; 
   height: 3.4vh;
   background-color: transparent;
   color: #033e8c;font-size: 0.vw;font-weight: 100;text-align: center;
}

.tablefluxo{
    width: 98vw;height: 83vh;margin: auto;
    background-color:transparent;margin-top: 1vh;
}

.tablefluxo div{
    width: 97vw;height: 82.5vh;margin:auto;
    display: flex;flex-direction: column;padding-top:.5vh;
    background-color:transparent;margin-top: .12vh;
}

.optionList{
    margin-top:3px;
    color: red;
}

.ocultaLin{
    display: none;
}

.linhaAmarela{

}

.linhaCenter{
   text-align: center; 
}

.linhaRight{
   text-align: right;
   padding-right: 15px; 
}

.linhaVerde{
    background-color: yellow;
}
</style>

<div class="d-fl corpo " >
    <div class="titulopage" style="margin-bottom: 10px;">
       <h1 style="color: #03306b;font-size: 1vw;font-weight: 200;border-bottom: 1px solid white;padding-bottom: 0.5vh;">Razão</h1>
       <div style="display: flex;flex-direction: row;justify-content:space-around;background-color: pink;height: 2vh;">
       <label id="numeroConta" style="display: block;background-color: crimson;color: #ffffff;height: 2vh;">{{numConta}} : {{razao}}</label>
       <label id="numeroConta" style="display: block;background-color: crimson;color: #ffffff;height: 2vh;">{{codigoLojista}}</label>
       </div>
    </div>
    <div class="tituloSubpage" >
       <div class="tituloSubpage_" >
          <div>
              <label >data:</label>
              <input value="04/11/2024">
          </div> 
       </div>
       <div class="tituloSubpage_" style="display:block;">
            <div>
              <label >nome banco:</label>
              <input value="Caixa Econômica">
          </div> 
       </div>
        <div class="tituloSubpage_" style="display:block;">
            <div>
              <label >razões:</label>
              <select id="SelectedRazoes" value="" style="width: 6vw;">
                <option></option>
                <option class="optionList">fluxo</option>
                <option class="optionList">bancos</option>
                <option class="optionList">ativo</option>
                <option class="optionList">passivo</option>
                <option class="optionList">despesas</option>
                <option class="optionList">receita</option>
                <option class="optionList">orçamento</option>
                <option class="optionList" value="{{id_cooperado}}">plano contas</option>
                <option class="optionList" value="{{id_cooperado}}">
                    <a href="/raqvendas/voltaHome/{{id_cooperado}}">home</a>
                </option>
              </select>
          </div> 
       </div>
       <div class="tituloSubpage_" style="display:block;">
            <div>
              <label >operações:</label>
              <select value="Caixa Econômica" style="width: 6vw;">
                <option>pesquisa</option>
                <option>adicionar</option>
                <option>sintetizar</option>
                <option>-</option>
                <option>-</option>
              </select>
          </div> 
       </div>
       <div class="tituloSubpage_">
           <div>
              <label >ano:</label>
              <input value="2024" >
          </div> 
       </div>
    </div>
    <div class="tablefluxo">
          <div id="ListaCliente_" >
                <div style="width: 96vw;height: 5vh;margin: auto;background-color:#0324a7;display: flex;flex-direction: row;justify-content: flex-start;padding-top: 0.5vh;">
                    <div style="width: 40%;height:4vh;margin-left: 15px;background-color:transparent;display: flex;flex-direction: row;padding-left: .6vw;">
                        <label style="color: #0c0404;font-size: o.7vw;font-weight: 200;margin-right: .5vw;">Digite :</label>
                        <input id="Id_digiteLetras" type="text" class="digite-letras" maxlength="3" >
                    </div> 
                </div>
                <div id="tableClient" style="width: 96vw;height: 77vh;margin: auto;background-color: #ffffff;color: #ffffff;overflow: auto;">
                    <table id="table" style="width: 100%;height: 69.5vh;margin: auto;background-color: #2042cd;margin-top: 0.6px;">
                        <thead style="width: 100%;height: 3vh;margin: auto;background-color: #06899a;color:#ffffff">
                            <td style="color:#ffffff;padding-left: 0.1vw;width: 1%;background-color: #615f61;">itens</td>
                            <td style="color:#ffffff;padding-left: 1vw;width: 1%;background-color: #615f61;display: none;">id</td>
                            <td style="color:#ffffff;padding-left: 1vw;width: 1%;background-color: #615f61;">chave</td>
                            <td style="color:#ffffff;padding-left: 1vw;width: 8%;background-color: #615f61;text-align: center;">data</td>
                            <td style="color:#ffffff;padding-left: 1vw;width: 4%;background-color: #615f61;">conta</td>
                            <td style="color:#ffffff;padding-left: 1vw;width: 10%;background-color: #615f61;">nome conta</td>
                            <td style="color:#ffffff;padding-left: 1vw;width: 15%%;background-color: #615f61;">histórico</td>
                            <td style="color:#ffffff;padding-left: 1vw;width: 10%;background-color: #615f61;">débito</td>
                            <td style="color:#ffffff;padding-left: 1vw;width: 10%;background-color: #615f61;">crédito</td>
                            <td style="color:#ffffff;padding-left: 1vw;width: 10%;background-color: #615f61;">saldo</td>
                        </thead>
                        <tbody id="X10">
                            
                        </tbody>
                    </table>
                </div>
          </div>
    </div>
    <div style="width: 100%;height: 14vh;margin: auto;background-color: #ed64c8;;margin-top: 1vh;text-align: center;">
         <h6 style="font-size: 1vw;color: #023137;font-weight: 200;">rodapé</h6>
    </div>
    <form action="/raqcontabil/buscrazoes" id="idrazoes" method="post" enctype="application/x-www-form-urlencoded" autocomplete="off" class="" style="background-color: #b1aeae;display: none;">
         <input id="passarazao" name="passaRazao" value="">
         <input id="codigoClient" name="codigoCliente" value="{{codigo}}">
         <input id="codigoLojista" name="id_cooperado" value="{{id_cooperado}}">
         <button id="btnClose" type="submit">close</button>
    </form>
</div>
<script>


let a1=document.getElementById("SelectedRazoes");
a1.addEventListener("click",function(event){
   event.stopPropagation();
 
   let z=a1.selectedIndex;
   let y=a1.options;
   let raz=a1[z].text;
   if(raz===""){
       console.log('fora')
   }else{
     if(raz=="razões"){
       ' deixa passa' 
     }else{
        a1.selectedIndex=-1;
        console.log(a1.selectedIndex)
        let w=document.getElementById('passarazao').value=raz;
        document.getElementById("btnClose").click();
     }
   }
})    

//FORA DE USO TALVEZ DE PARA APROVEITAR
function contas_razoes(){
    let baseApiUrl=window.location.hostname;
    if (baseApiUrl=='localhost'){
        baseApiUrl='http://localhost:3000'
    }else{
        baseApiUrl='https://www.rotaes.com.br'
    }
    /////////////////////////////////////////////////////////
    console.log("12")
    let n=document.getElementById("numeroConta").innerText;
    console.log(n)
    try{
        fetch(`${baseApiUrl}` + `/raqcontabil/buscDadosCta/${n}`, { method: "POST",  headers: {"Content-type": "application/json; charset=UTF-8"}})
            .then(response => {
                if( response.ok ){
                    return response.json()
                    }  
                    throw response;
            })
            .then((json)=>{
                //console.log(json);
                let l=json.length;
                console.log(l);
                //console.log(' 230 => ',Object.values(json));
                let corpo=Object.values(json);
                console.log('corpo ==>',corpo)
               
                let c=corpo.length;
                console.log(' ',c);
                console.log('________________________________________')
                for (let i=0;i<30;i++){
                   if(i<c){
                      console.log('XXXXXXXXXXXXXXXXXXXXXXXXXXXX') 
                      let G=corpo[i].boleta;
                      console.log(G);
                      let m=G.length;
                      for (j=0;j<m;j++){
                         console.log(G[j]);
                         console.log('2222222222222222222222222222222')
                      }
                      if (G.length==0){
                          console.log('dentro')
                          linhaVazia(i);
                      }else{
                           console.log('');
                           console.log('XXXXXXXXXXXXXXXXXXXXXXXXXXXX') 
                            // }
                           let bol=corpo[i].boleta;
                           console.log(bol)
                            console.log(' 244',Object.values(bol));
                            let h=Object.values(bol);
                            console.log('valor de h',h);
                            h=h[0].credito;
                            console.log('248',h)
                        
                            const node=document.createElement('tr');
                            node.setAttribute("id","linha" + '-' + i);
                            node.setAttribute("class","linhaCheia");
                            document.getElementById('X10').appendChild(node)

                            // Itens
                            const node0=document.createElement('td');
                            const textNode0=document.createTextNode(i+1);
                            node0.appendChild(textNode0);
                            node0.setAttribute("class","linhaAmarela");
                            document.getElementById('linha' + '-' + i ).appendChild(node0);

                            // _id 
                            const node1=document.createElement('td');
                            const textNode1=document.createTextNode(json[i]._id)
                            let N=json[i]._id
                            node1.appendChild(textNode1);
                            node1.setAttribute("class","ocultaLin");
                            document.getElementById('linha' + '-' + i ).appendChild(node1);

                            // Chave 
                            const node2=document.createElement('td');
                            const textNode2=document.createTextNode(json[i].numberChave);
                            //let N=json[i]._id
                            node2.appendChild(textNode2);
                            node2.setAttribute("class","linhaAmarela linhaCenter");
                            document.getElementById('linha' + '-' + i ).appendChild(node2);

                            // Data
                            const node3=document.createElement('td');
                            const textNode3=document.createTextNode(json[i].data);
                            node3.appendChild(textNode3);
                            //node2.setAttribute("onclick","transfer(" + "'" + N + "'" + ")");
                            node3.setAttribute("class","linhaAmarela linhaCenter");
                            document.getElementById('linha' + '-' + i ).appendChild(node3);

                            // Conta 
                            let credit=bol.credito;
                        // console.log(bol.credito);
                        // console.log(credit)
                            const node4=document.createElement('td');
                            const textNode4=document.createTextNode(h.conta);
                            node4.appendChild(textNode4);
                            node4.setAttribute("class","linhaAmarela linhaCenter");
                            document.getElementById('linha' + '-' + i ).appendChild(node4);

                            // Nome Conta
                            const node5=document.createElement('td');
                            const textNode5=document.createTextNode(h.nomeConta);
                            node5.appendChild(textNode5);
                            node5.setAttribute("class","linhaAmarela");
                            document.getElementById('linha' + '-' + i ).appendChild(node5);

                            // Posição
                            const node6=document.createElement('td');
                            const textNode6=document.createTextNode(h.historico);
                            node6.appendChild(textNode6);
                            node6.setAttribute("class","linhaAmarela");
                            document.getElementById('linha' + '-' + i ).appendChild(node6);

                            // Débito
                            const node7=document.createElement('td');
                            const textNode7=document.createTextNode(h.valor);
                            node7.appendChild(textNode7);
                            node7.setAttribute("class","linhaAmarela linhaRight");
                            document.getElementById('linha' + '-' + i ).appendChild(node7);

                            // Crédito
                            const node8=document.createElement('td');
                            const textNode8=document.createTextNode(h.valor);
                            node8.appendChild(textNode8);
                            node8.setAttribute("class","linhaAmarela linhaRight");
                            document.getElementById('linha' + '-' + i ).appendChild(node8);

                            // Saldo
                            const node9=document.createElement('td');
                            const textNode9=document.createTextNode("");
                            node9.appendChild(textNode9);
                            node9.setAttribute("class","linhaAmarela linhaRight");
                            document.getElementById('linha' + '-' + i ).appendChild(node9);
                        }
                   }else if(i>=c){
                        console.log('___________________________________________')
                        console.log(i);
                        console.log('___________________________________________')
                        console.log(l);
                        console.log('___________________________________________');
                        const node=document.createElement('tr');
                        node.setAttribute("id","linha" + '-' + i);
                        node.setAttribute("class","linhaCheia");
                        document.getElementById('X10').appendChild(node)
                       // console.log("GATO")
                        // Itens
                        const node0=document.createElement('td');
                        const textNode0=document.createTextNode(i+1);
                        node0.appendChild(textNode0);
                        node0.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node0);

                        // _id 
                        const node1=document.createElement('td');
                        const textNode1=document.createTextNode("")
                       
                        node1.appendChild(textNode1);
                        node1.setAttribute("class","ocultaLin");
                        document.getElementById('linha' + '-' + i ).appendChild(node1);

                        // Chave 
                        const node2=document.createElement('td');
                        const textNode2=document.createTextNode("");
                        
                        node2.appendChild(textNode2);
                        node2.setAttribute("class","linhaAmarela gol1");
                        document.getElementById('linha' + '-' + i ).appendChild(node2);

                        // Data
                        const node3=document.createElement('td');
                        const textNode3=document.createTextNode("");
                        node3.appendChild(textNode3);
                        //node2.setAttribute("onclick","transfer(" + "'" + N + "'" + ")");
                        node3.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node3);

                        // Conta 
                       // let credit=bol.credito;
                       // console.log(bol.credito);
                       // console.log(credit)
                        const node4=document.createElement('td');
                        const textNode4=document.createTextNode("");
                        node4.appendChild(textNode4);
                        node4.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node4);

                        // Nome Conta
                        const node5=document.createElement('td');
                        const textNode5=document.createTextNode("");
                        node5.appendChild(textNode5);
                        node5.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node5);

                        // Posição
                        const node6=document.createElement('td');
                        const textNode6=document.createTextNode("");
                        node6.appendChild(textNode6);
                        node6.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node6);

                        // Débito
                        const node7=document.createElement('td');
                        const textNode7=document.createTextNode("");
                        node7.appendChild(textNode7);
                        node7.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node7);

                        // Crédito
                        const node8=document.createElement('td');
                        const textNode8=document.createTextNode("");
                        node8.appendChild(textNode8);
                        node8.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node8);

                        // Saldo
                        const node9=document.createElement('td');
                        const textNode9=document.createTextNode("");
                        node9.appendChild(textNode9);
                        node9.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node9);
                   } 

                   function linhaVazia(){
                        const node=document.createElement('tr');
                        node.setAttribute("id","linha" + '-' + i);
                        node.setAttribute("class","linhaVerde");
                        document.getElementById('X10').appendChild(node);

                        const node30=document.createElement('td');
                        const textNode30=document.createTextNode(i+1);
                        node30.appendChild(textNode30);
                        node30.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node30);

                        const node31=document.createElement('td');
                        const textNode31=document.createTextNode("");
                        node31.appendChild(textNode31);
                        node31.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node31);

                        const node32=document.createElement('td');
                        const textNode32=document.createTextNode("");
                        node32.appendChild(textNode32);
                        node32.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node32);

                        const node33=document.createElement('td');
                        const textNode33=document.createTextNode("");
                        node33.appendChild(textNode33);
                        node33.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node33);
                        
                        const node34=document.createElement('td');
                        const textNode34=document.createTextNode("");
                        node34.appendChild(textNode34);
                        node34.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node34);

                        const node35=document.createElement('td');
                        const textNode35=document.createTextNode("");
                        node35.appendChild(textNode35);
                        node35.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node35);

                        const node36=document.createElement('td');
                        const textNode36=document.createTextNode("");
                        node36.appendChild(textNode36);
                        node36.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node36);

                        const node37=document.createElement('td');
                        const textNode37=document.createTextNode("");
                        node37.appendChild(textNode37);
                        node37.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node37);

                        const node38=document.createElement('td');
                        const textNode38=document.createTextNode("");
                        node38.appendChild(textNode38);
                        node38.setAttribute("class","linhaAmarela");
                        document.getElementById('linha' + '-' + i ).appendChild(node38);
                    
                   };
                }
            })
            .catch((er)=>{
               console.log(er);
            })
    }catch(e){
        console.log(e);
    }   
}

contas_razoes();


</script>